.header {
  border-radius: 1rem 1rem 0rem 0rem;
  height: 3rem;
  color: var(--white);
  background-color: var(--primary-light);
  font-weight: bold;
}
.nav-menu {
  visibility: hidden;
}
.nav-bar {
  text-align: center;
}
.nav-name p {
  padding-top: 1rem;
}

.nav-name {
  letter-spacing: 2.5px;
}

.nav-menu {
  word-spacing: 5px;
}

.nav-menu a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  transition: color .3s ease-out;
}

.nav-menu a:hover {
  color: var(--primary);
}

@media screen and (min-width: 480px) {
  .nav-menu {
    word-spacing: 20px;
    visibility: visible;
  }
  .nav-menu {
    padding-top: 1rem;
  }
  .nav-bar {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    word-spacing: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-menu {
    word-spacing: 80px;
  }
}
